
.container{

    margin-bottom: 100px;
}
.orange-bg{

    background-color:#FCE6E8 ;
    border-radius: 10px;
    
}

.carousel-item{

    padding: 20px 40px;
}

.price{

    color:#FF136F ;
}

.buy-now-button{

    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    background:#FF136F ;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{

    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{

    background: #F1A52A;
    

}

.cat2{
 
    background: #E34385;
}

.cat3{
    background: #3B51FC;
}

.Categories h1{

    color:white;

}

.card{

    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{

    background: white;
    border-top: none;
    border-radius: 10px;
}

#subscribe{

    height: 300px;
}

#subscribe h6{

    color:gray;
}

footer{

    text-align: center;
}